header.bg-indigo-600.p-4
    div.container.mx-auto.flex.justify-between.items-center
        h1.text-2xl.text-white.font-extrabold.text-center Bienes 
            span.font-normal Raices

        nav(class="my-5 text-sm md:flex md:gap-3 md:items-center font-bold text-white ")
            a(class="hover:text-black transition-all" href="") Mis Propiedades
            a(class="hover:text-black transition-all" href="") Mi Perfil
            a(class="hover:text-black transition-all bg-indigo-800 px-10 py-1 rounded" href="") Cerrar sesión